<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/headers.ejs') %>
    <div class="container">
      <a href="/character/new"><button>New Character</button></a>
      <% if (secondCharacter) { %>
      <p>Select Your Opponent:</p>
      <% } %>
      <ul>
        <% for (let character of characters) {%>

        <li><h5><%=character.name%></h5></li>
        <li><%=character.level%></li>
        <%if (!secondCharacter) { %>
        <li><a href="/character/<%=character._id%>">See Dossier</a></li>
        <% } else { %>
        <li>
          <a href="/battle/<%=firstId%>/<%=character._id%>">To Battle!</a>
        </li>
        <% } %>
        <img src="<%=character.img%>" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <% } %>
      </ul>

      <%- include ('./partials/footer.ejs') %>
    </div>
  </body>
</html>
