<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/headers.ejs') %>
    <div class="container">
      <a href="/item/new"><button>Ye Olde Item Shoppe</button></a>
      <ul>
        <% for (let item of items) {%>

        <li><%=item.name%></li>
        <li><%=item.type%></li>
        <li>Damage: <%=item.damage%></li>
        <li>Cost: <%=item.cost%></li>

        <img src="<%=item.img%>" />
        <a href="/item/<%=characterId%>/<%=item._id%>">Details</a>
        <% } %>
      </ul>
      <%- include ('./partials/footer.ejs') %>
    </div>
  </body>
</html>
