<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <div class="container">
      <%- include ('./partials/headers.ejs') %>
      <h1>Redistribute skill points for <%=character.name%>?</h1>
      <img src="<%=character.img%>" />
      <!-- make sure to write a bunch of conditionals for respending points: -->
      <form
        action="/character/<%= character._id %>/respec?_method=PATCH"
        method="POST"
      >
        <label for="agility">Agility:</label>
        <input type="select" name="agility" id="agility" />
        <label for="wisdom">Wisdom:</label>
        <input type="select" name="wisdom" id="wisdom" />
        <label for="wisdom">Strength:</label>
        <input type="select" name="" id="wisdom" />
        <label for="charisma">Charisma:</label>
        <input type="select" name="charisma" id="charisma" />
        <label for="mana">Mana:</label>
        <input type="select" name="mana" id="mana" />
        <label for="health">Health:</label>
        <input type="select" name="health" id="health" />
        <label for="img">Image Url:</label>
        <input type="text" name="img" id="img" />
        <input type="submit" value="Respec <%=character.name%>" />
      </form>

      <button><a href="/character/:id">Back to Character Page</a></button>
      <%- include ('./partials/footer.ejs') %>
    </div>
  </body>
</html>
